<div class= "hand-input">
  <h1 class="hand-input-title">手牌入力画面</h1>
  <div class="hand-choice">
    <div class="pai-list">
      <%= image_tag "pai-images/man1-66-90-s-emb.png", alt:"一萬", name:"man1", id:"man1" %>
      <%= image_tag "pai-images/man2-66-90-s-emb.png", alt:"二萬", name:"man2", id:"man2" %>
      <%= image_tag "pai-images/man3-66-90-s-emb.png", alt:"三萬", name:"man3", id:"man3" %>
      <%= image_tag "pai-images/man4-66-90-s-emb.png", alt:"四萬", name:"man4", id:"man4" %>
      <%= image_tag "pai-images/man5-66-90-s-emb.png", alt:"五萬", name:"man5", id:"man5" %>
      <%= image_tag "pai-images/man6-66-90-s-emb.png", alt:"六萬", name:"man6", id:"man6" %>
      <%= image_tag "pai-images/man7-66-90-s-emb.png", alt:"七萬", name:"man7", id:"man7" %>
      <%= image_tag "pai-images/man8-66-90-s-emb.png", alt:"八萬", name:"man8", id:"man8" %>
      <%= image_tag "pai-images/man9-66-90-s-emb.png", alt:"九萬", name:"man9", id:"man9" %>
      <%= image_tag "pai-images/aka3-66-90-s-emb.png", alt:"赤五萬", name:"man0", id:"man0" %>
      <br>
      <%= image_tag "pai-images/pin1-66-90-s-emb.png", alt:"一筒", name:"pin1", id:"pin1" %>
      <%= image_tag "pai-images/pin2-66-90-s-emb.png", alt:"二筒", name:"pin2", id:"pin2" %>
      <%= image_tag "pai-images/pin3-66-90-s-emb.png", alt:"三筒", name:"pin3", id:"pin3" %>
      <%= image_tag "pai-images/pin4-66-90-s-emb.png", alt:"四筒", name:"pin4", id:"pin4" %>
      <%= image_tag "pai-images/pin5-66-90-s-emb.png", alt:"五筒", name:"pin5", id:"pin5" %>
      <%= image_tag "pai-images/pin6-66-90-s-emb.png", alt:"六筒", name:"pin6", id:"pin6" %>
      <%= image_tag "pai-images/pin7-66-90-s-emb.png", alt:"七筒", name:"pin7", id:"pin7" %>
      <%= image_tag "pai-images/pin8-66-90-s-emb.png", alt:"八筒", name:"pin8", id:"pin8" %>
      <%= image_tag "pai-images/pin9-66-90-s-emb.png", alt:"九筒", name:"pin9", id:"pin9" %>
      <%= image_tag "pai-images/aka1-66-90-s-emb.png", alt:"赤五筒", name:"pin0", id:"pin0" %>
      <br>
      <%= image_tag "pai-images/sou1-66-90-s-emb.png", alt:"一索", name:"sou1", id:"sou1" %>
      <%= image_tag "pai-images/sou2-66-90-s-emb.png", alt:"二索", name:"sou2", id:"sou2" %>
      <%= image_tag "pai-images/sou3-66-90-s-emb.png", alt:"三索", name:"sou3", id:"sou3" %>
      <%= image_tag "pai-images/sou4-66-90-s-emb.png", alt:"四索", name:"sou4", id:"sou4" %>
      <%= image_tag "pai-images/sou5-66-90-s-emb.png", alt:"五索", name:"sou5", id:"sou5" %>
      <%= image_tag "pai-images/sou6-66-90-s-emb.png", alt:"六索", name:"sou6", id:"sou6" %>
      <%= image_tag "pai-images/sou7-66-90-s-emb.png", alt:"七索", name:"sou7", id:"sou7" %>
      <%= image_tag "pai-images/sou8-66-90-s-emb.png", alt:"八索", name:"sou8", id:"sou8" %>
      <%= image_tag "pai-images/sou9-66-90-s-emb.png", alt:"九索", name:"sou9", id:"sou9" %>
      <%= image_tag "pai-images/aka2-66-90-s-emb.png", alt:"赤五索", name:"sou0", id:"sou0" %>
      <br>
      <%= image_tag "pai-images/ji1-66-90-s-emb.png", alt:"東", name:"ji1" ,id:"ji1" %>
      <%= image_tag "pai-images/ji2-66-90-s-emb.png", alt:"南", name:"ji2" ,id:"ji2" %>
      <%= image_tag "pai-images/ji3-66-90-s-emb.png", alt:"西", name:"ji3" ,id:"ji3" %>
      <%= image_tag "pai-images/ji4-66-90-s-emb.png", alt:"北", name:"ji4" ,id:"ji4" %>
      <%= image_tag "pai-images/ji6-66-90-s-emb.png", alt:"白", name:"ji5" ,id:"ji5" %>
      <%= image_tag "pai-images/ji5-66-90-s-emb.png", alt:"發", name:"ji6" ,id:"ji6" %>
      <%= image_tag "pai-images/ji7-66-90-s-emb.png", alt:"中", name:"ji7" ,id:"ji7" %>
      <br>
    </div>
    <div class="btn-group">
      <label class="input-mode-btn" id="mode1-label" >手牌入力
        <input type="radio", name="input-mode" id="mode1" class="hidden">
      </label>
      <label class="input-mode-btn" id="mode2-label" >ポン
        <input type="radio", name="input-mode" id="mode2" class="hidden">
      </label>
      <label class="input-mode-btn" id="mode3-label" >チー
        <input type="radio", name="input-mode" id="mode3" class="hidden">
      </label>
      <label class="input-mode-btn" id="mode4-label" >暗カン
        <input type="radio", name="input-mode" id="mode4" class="hidden">
      </label>
      <label class="input-mode-btn" id="mode5-label" >明カン
        <input type="radio", name="input-mode" id="mode5" class="hidden">
      </label>
      <label class="input-mode-btn" id="mode6-label">ドラ入力
        <input type="radio", name="input-mode" id="mode6"  class="hidden" >
      </label>
    </div>
  </div>
  <div class="hand-info">
    <div class="dora-wrap">
      ドラ:<%= image_tag "pai-images/ji5-66-90-s-emb.png", :size => '19x27', class:"dora", name:"dora", id:"dora" %>
    </div>
    <%#= form_with model: "#" , url: "#" , local: true do |f| %>
    <table class="hand-table">
      <tr>
        <td  id="pai1"class="pai"><%= image_tag "pai-images/ji6-66-90-s-emb.png" %></td>
        <td  id="pai2"class="pai"><%= image_tag "pai-images/ji6-66-90-s-emb.png" %></td>
        <td  id="pai3"class="pai"><%= image_tag "pai-images/ji6-66-90-s-emb.png" %></td>
        <td  id="pai4"class="pai"><%= image_tag "pai-images/ji6-66-90-s-emb.png" %></td>
        <td  id="pai5"class="pai"><%= image_tag "pai-images/ji6-66-90-s-emb.png" %></td>
        <td  id="pai6"class="pai"><%= image_tag "pai-images/ji6-66-90-s-emb.png" %></td>
        <td  id="pai7"class="pai"><%= image_tag "pai-images/ji6-66-90-s-emb.png" %></td>
        <td  id="pai8"class="pai"><%= image_tag "pai-images/ji6-66-90-s-emb.png" %></td>
        <td  id="pai9"class="pai"><%= image_tag "pai-images/ji6-66-90-s-emb.png" %></td>
        <td  id="pai10"class="pai"><%= image_tag "pai-images/ji6-66-90-s-emb.png" %></td>
        <td  id="pai11"class="pai"><%= image_tag "pai-images/ji6-66-90-s-emb.png" %></td>
        <td  id="pai12"class="pai"><%= image_tag "pai-images/ji6-66-90-s-emb.png" %></td>
        <td  id="pai13"class="pai"><%= image_tag "pai-images/ji6-66-90-s-emb.png" %></td>
        <td  id="pai14"class="pai"><%= image_tag "pai-images/ji6-66-90-s-emb.png" %></td>
      </tr>
    </table>
    <div class="submit-btn-wrap">
      <%= link_to "打牌候補結果へ", "#", class: "submit-btn" %>
    </div>
    <%# end %>
  </div>
</div>
