<div class= "status-input">
  <h1 class="status-input-title">状況入力画面</h1>
    <%= form_with model: @status, url: statuses_path, id: "status-form", local: true do |f| %>
    <form>
      <table class="detail-table">
        <thead>
          <tr>
            <td scope="col">場風</td>
            <td scope="col">本場</td>
            <td scope="col">供託</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="round-wind"><%= f.collection_select(:round_wind_id, RoundWind.all, :id, :name, {}, {}) %></td>
            <td class="stacking-bar"><%= f.collection_select(:stacking_bar_id, StackingBar.all, :id, :name, {}, {}) %></td>
            <td class="deposit"><%= f.collection_select(:deposit_id, Deposit.all, :id, :name, {}, {}) %></td>
          </tr>
        </tbody>
      </table>
      <table class="current-score-table">
        <thead>
          <tr>
            <th></th>
            <td scope="col">点数入力欄</td>
            <td scope="col">自風チェック欄</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">東家</th>
            <td class="current-score"><%= f.text_field :score_east, placeholder: "例）25000", style: "border: none" %></td>
            <td class="seat-wind"><%= f.radio_button :seat_wind, "東" %></td>
          </tr>         
          <tr>
            <th scope="row">南家</th>
            <td class="current-score"><%= f.text_field :score_south, placeholder: "例）25000", style: "border: none" %></td>
            <td class="seat-wind"><%= f.radio_button :seat_wind, "南" %></td>
          </tr>
          <tr>
            <th scope="row">西家</th>
            <td class="current-score"><%= f.text_field :score_west, placeholder: "例）25000", style: "border: none" %></td>
            <td class="seat-wind"><%= f.radio_button :seat_wind, "西" %></td>
          </tr>
          <tr>
            <th scope="row">北家</th>
            <td class="current-score"><%= f.text_field :score_north, placeholder: "例）25000", style: "border: none" %></td>
            <td class="seat-wind"><%= f.radio_button :seat_wind, "北" %></td>
          </tr>
        </tbody>
      </table>
      <div class="submit-btn-wrap">
        <%= f.submit "出力結果表示", class:"submit-btn" %>
      </div>
    </form>
    <% end %>
</div>
<div class= "status-output">
  <h1 class="status-output-title">状況出力画面</h1>
  <table class="output-table">
      <thead>
        <tr>
          <th></th>
          <td scope="col" rowspan="2">点差</td>
          <td scope="col" colspan="5">必要打点</td>
        </tr>
        <tr>
          <th></th>
          <td scope="col" >ツモ</td>
          <td scope="col" >ロン東</td>
          <td scope="col" >ロン南</td>
          <td scope="col" >ロン西</td>
          <td scope="col" >ロン北</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">東家</th>
          <td id="score-gap-east"></td>
          <td id="tsumo-east"></td>
          <td id="east-ron-from-east"></td>
          <td id="east-ron-from-south"></td>
          <td id="east-ron-from-west"></td>
          <td id="east-ron-from-north"></td>
        </tr>
        <tr>
          <th scope="row">南家</th>
          <td id="score-gap-south"></td>
          <td id="tsumo-south"></td>
          <td id="south-ron-from-east"></td>
          <td id="south-ron-from-south"></td>
          <td id="south-ron-from-west"></td>
          <td id="south-ron-from-north"></td>
        </tr>
        <tr>
          <th scope="row">西家</th>
          <td id="score-gap-west"></td>
          <td id="tsumo-west"></td>
          <td id="west-ron-from-east"></td>
          <td id="west-ron-from-south"></td>
          <td id="west-ron-from-west"></td>
          <td id="west-ron-from-north"></td>
        </tr>
        <tr>
          <th scope="row">北家</th>
          <td id="score-gap-north"></td>
          <td id="tsumo-north"></td>
          <td id="north-ron-from-east"></td>
          <td id="north-ron-from-south"></td>
          <td id="north-ron-from-west"></td>
          <td id="north-ron-from-north"></td>
        </tr>
      </tbody>
  </table>
  <div class="submit-btn-wrap">
    <%= link_to "手牌入力へ", new_hand_path, class: "submit-btn" %>
  </div>
</div>